<html>
<head>
	<link href="static/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/Alert.CSS">
	<link rel="stylesheet" type="text/css" href="static/w3.CSS">
	<!-- <link rel="stylesheet" type="text/css" href="static/jquery-min.css"> -->
	<script type="text/javascript" src="static/jquery.min.js"></script>  
	<script type="text/javascript" src="static/bluebox.js"></script>
	<script type="text/javascript" src="static/jquery.cookie.js"></script>
</head>
<body>
	<div class="w3-container" style="padding:190px;padding-left:500px">
	<div class="w3-card-12" style="width:50%;">
	
	<div class="w3-container w3-teal">
		<h2>Please log in</h2>
	</div>
	<div class="w3-container" id="loginDiv">	
		<p>
		<label>Username</label>
		<input class="w3-input" type="text" id="username">
		</p>
		<p>
		<label>Password</label>
		<input class="w3-input" type="password" id="password">
		</p>
		<p>
		<input class="w3-btn w3-teal" type="submit" onClick="onLogin()"></p>
	</div>
	</div>
	</div>
</body>
</html>